In [1]:
print("hello world")

hello world

In [6]:
print("hello\
      world")#back slash

hello      world

In [1]:
print("hello world")

hello world

In [7]:
print('python's world')

SyntaxError: invalid syntax (<ipython-input-7-3f3d487a621e>, line 1)

In [8]:
print("python's world")#string inside the qoutes

python's world

In [4]:
print("hello 
      world")

SyntaxError: EOL while scanning string literal (<ipython-input-4-2cc576b97dc9>, line 1)

In [9]:
print("hello\t world")#escape sequence of string

hello	 world

In [10]:
print("hello\nworld")

hello
world

In [11]:
    print("""hello""")#triple quotes

hello

In [12]:
"""hello world"""

'hello world'

In [13]:
#formatted output(1st type)
name="xyz"
marks=90.867
age=19
print("the name of the person",name,"marks is",marks,"age is",age)

the name of the person xyz marks is 90.867 age is 19

In [14]:
#second type
print("the name of the person is %s marks is %f age is %d"%(name,marks,age))

the name of the person is xyz marks is 90.867000 age is 19

In [18]:
print("the name of the person is %5s marks is %5.2f age is %5d"%(name,marks,age))

the name of the person is   xyz marks is 90.87 age is    19

In [21]:
#third type
print(f"the name of the person is {name} marks is{marks} age is{age}")

the name of the person is xyz marks is90.867 age is19

In [22]:
#variables
a=10
print("a")

a

In [27]:
3=20
print(3)

SyntaxError: can't assign to literal (<ipython-input-27-4ee7fab84139>, line 1)

In [26]:
a_=23
print(a_)

23

In [28]:
_6=13
print(_6)

13

In [29]:
a=10#they both are same
b=10
id(a)

140714674528944

In [30]:
id(b)

140714674528944

In [31]:
del a#deleting the variable(binding)

In [32]:
print(a)

NameError: name 'a' is not defined

In [33]:
print(b)

10

In [34]:
#Arithmetic Operators
5**5#power

3125

In [35]:
10/2#division

5.0

In [36]:
20//10#floor division(it takes least integer value)

2

In [37]:
50//3

16

In [38]:
10%3#modulus

1

In [41]:
#Comparision operators
a=10
b=20
c=10
a==b

False

In [42]:
a==c

True

In [43]:
a>=c

True

In [44]:
a<=b

True

In [45]:
a>b

False

In [46]:
a>=b

False

In [53]:
#assignment Operators
x=10
y=5
x=y
print(x)

5

In [56]:
#Bitwise Operators
a=240#bitwise OR
b=1
a|b

241

In [57]:
a&b#bitwise AND

0

In [58]:
a=3
b=2
a<1and b>1

False

In [59]:
a<20and b>1

True

In [60]:
#Logical Operators
a=1
b=20
a>20

False

In [61]:
a>20or 10>9

True

In [62]:
a>20and 10>9

False

In [63]:
10<9or 20>m

NameError: name 'm' is not defined

In [64]:
10<9and 20>m

False

In [65]:
#Membership Operators
not 10<9

True

In [66]:
S="python"
"y" in S

True

In [67]:
"k" not in S

True

In [68]:
"p" not in S

False

In [69]:
#Identity Operators
a=10
b=10
a is b

True

In [70]:
a is not b

False

In [72]:
#Operator Precedence
a=10+10/20*4
a

12.0

In [73]:
a=2**-1
a

0.5

In [75]:
a=10>8>9#It represents 10>8 and 8>9 hence it returns false
a

False

In [ ]:
http://localhost:8888/notebooks/LU%20Python%20ES%20B6/LU%20Python%20ES%20Day2.ipynb#